<h1 [ngClass]="{exchangeSettingsTitleStyle: true}"> Stock Exchange !!! </h1>

<div [ngClass]="{exchangeSettingsStyle: true}">
  <button (click)="initExchangeSettings()">Get data from dataBase</button>
  <div (click)="showDataStartChangeField()"> DataStart: {{dateStartValue}} </div>
  <div *ngIf="dateCondition">
    <input [(ngModel)]="dateStartValue" (ngModelChange)="sendExchangeSettings()">
  </div>
  <div (click)="showTimeStartChangeField()"> TimeStart: {{timeStartValue}} </div>
  <div *ngIf="timeCondition">
    <input [(ngModel)]="timeStartValue" (ngModelChange)="sendExchangeSettings()">
  </div>
  <div (click)="showTradingDurationChangeField()"> Trading duration: {{tradingDuration}} </div>
  <div *ngIf="tradingDurationCondition">
    <input [(ngModel)]="tradingDuration" (ngModelChange)="sendExchangeSettings()">
  </div>
  <div (click)="showTimeToRecountStoreChangeField()"> Time to recount share price: {{timeToRecountShare}} </div>
  <div *ngIf="timeToRecountShareCondition">
    <input [(ngModel)]="timeToRecountShare" (ngModelChange)="sendExchangeSettings()">
  </div>
</div>

