<style>
    form {
        border-style: double; /* Стиль линии вокруг параграфа */
        padding: 5px; /* Поля вокруг текста */
    }
</style>

<body style="background-color: blanchedalmond; position: fixed; top: 20%; left: 40%; border: #2b81af">
<h2>LOGIN WITH PASSPORT:</h2>

<form action="/login" method="post">
  <label> Login <input name="username" id="username" type="text" placeholder="Your username" style="margin: 10px;"/></label> <br>
  <label> Password <input name="password" id="password" type="password" placeholder="Your password" style="margin: 10px" /><br> </label>
<input type="submit" style="margin: 10px" value="Войти"/> <input type="submit" formaction="/userPage" style="margin: 10px" value="Зарегистрироваться"/>
</form>

</body>