<h1 [ngClass]="{brokerTitleStyle: true}"> Broker List !!! </h1>
<button (click)="getBrokerMas()">show/hide broker mas</button>
<div [ngClass]="{brokerAddStyle: true}">
  <div (click)="showAddBrokerField()"> Add new User </div>
    <div *ngIf="addBrokerCondition">
      <label> Name: </label>
      <input placeholder="brokerName" [(ngModel)]="addedBrokerUserName">
      <br>
      <label> Amount of money: </label>
      <input placeholder="amount of money" [(ngModel)]="addedBrokerAmountOfMoney">
      <br>
      <button (click)="addBroker()">Add broker</button>
  </div>
</div>

<div *ngIf="showBrokerMas">
  <button (click)="deleteBrokerById()">Delete</button>
  <input placeholder="broker ID" [(ngModel)]="brokerIDToDelete">
  <br>
  <button (click)="changeBrokerAmountOfMoneyByID()">Change money</button>
  <input placeholder="broker ID" [(ngModel)]="brokerIDToChangeMoney">
  <input placeholder="new amount of money" [(ngModel)]="brokerNewAmountOfMoney">
  <ul>
    <li *ngFor="let user of brokerMas">
        <p id="userName">User Name: {{user.userName}}</p>
        <p id="amountOfMoney">Amount of money: {{user.amountOfMoney}}</p>
        <p id="ID">ID: {{user.ID}}</p>
    </li>
  </ul>
</div>
