body {
  background-color: #d2bebe;
}
#regImg {
  margin-top: 1%;
  margin-left: 24%;
  height: 30%;
}
#userName {
  margin-top: 4%;
  width: 80%;
  margin-left: 10%;
}
#regBtn {
  background-color: #4CAF50;
  width: 100%;
}
#adminEnterForm {
  width: 100%;
  margin: 0%;
}
#adminPanel {
  width: 100%;
  background-color: red;
  height: 5%;
  margin-top: -1%;
  margin-bottom: -1%;
  padding: 2% 0%;
}
#adminBtn {
  width: 50%;
  background-color: #4CAF50;
  margin-left: -1%;
}
#adminPassword {
  height: 39px;
  width: 50%;
  margin-top: 0px;
  margin-bottom: -1%;
}
form {
  background-color: #d2be0e;
  margin-top: 6%;
  margin-left: 33%;
  width: 30%;
}
