body {
  background-color: #bebe64;
}
a:link {
  color: green;
  background-color: transparent;
  text-decoration: none;
}
a:visited {
  color: #0000fa;
  background-color: transparent;
  text-decoration: none;
}
a:hover {
  color: red;
  background-color: transparent;
  text-decoration: underline;
}
a:active {
  color: yellow;
  background-color: transparent;
  text-decoration: underline;
}
img {
  border: 1px solid #ddd;
  border-radius: 4px;
  padding: 5px;
  width: 150px;
  height: 150px;
}
label {
  position: absolute;
  left: 2%;
}
input,
textarea {
  position: absolute;
  left: 13%;
}
#button1,
#button2 {
  position: absolute;
  left: 2%;
}
