body {
  background-color: #bebe64;
}
a:link {
  color: green;
  background-color: transparent;
  text-decoration: none;
}
a:visited {
  color: #0000fa;
  background-color: transparent;
  text-decoration: none;
}
a:hover {
  color: red;
  background-color: transparent;
  text-decoration: underline;
}
a:active {
  color: yellow;
  background-color: transparent;
  text-decoration: underline;
}
span {
  margin-bottom: 20px;
  font-size: 22px;
  display: block;
  border: 10px solid red;
  width: 200px;
  border-radius: 10px;
}
b {
  font-size: 200%;
}
