body {
  background-color: #bebe64;
}
a:link {
  color: green;
  background-color: transparent;
  text-decoration: none;
}
a:visited {
  color: #0000fa;
  background-color: transparent;
  text-decoration: none;
}
a:hover {
  color: red;
  background-color: transparent;
  text-decoration: underline;
}
a:active {
  color: yellow;
  background-color: transparent;
  text-decoration: underline;
}
.selected {
  width: 200px;
  border-color: firebrick;
  border-style: inset;
}
#removeID {
  width: 100px;
}
