html
    head
        link(href='public/styles/addPictureStyle.css', rel='stylesheet' )
    body
        h1 Добавить книгу
        form(action='/addPictureAction' method='post')
            label Picture title:
            input(name='title' type='text' placeholder='Picture title')
            br

            label Picture author:
            input(name='author' type='text' placeholder='Picture author')
            br

            label Picture image:
            input(name='image' type='text' placeholder='Picture image')
            br

            input(type='submit' value='Add picture')