html
    head
        link(href='/public/styles/addPictureStyle.css', rel='stylesheet' )
    body
        h1 Add User
        form(action='/addUserAction' method='post')
            label User name:
            input(name='userName' type='text' placeholder='User name')
            br

            label Amount of money:
            input(name='amountOfMoney' type='text' placeholder='Amount of money')
            br

            input(type='submit' value='Add user')