html
    head
        link(href='/public/styles/auctionSettingsStyle.css', rel='stylesheet' )
    body
        h1 Auction Settings
        a(href='/picturesListPage') Go to picture list
        a(href='/userListPage') Go to user list
