html
    head
        link(href='/public/styles/addPictureStyle.css', rel='stylesheet' )
    body
        img(src=picture.imagePath)
        form(action='/changePictureAction' method='post')
            label Picture ID:
            input(name='ID' type='text' placeholder='Picture title' value= picture.ID readonly=true)
            br

            label Picture title:
            input(name='title' type='text' placeholder='Picture title' value= picture.title)
            br

            label Picture author:
            input(name='author' type='text' placeholder='Picture author' value= picture.author)
            br

            label Picture image:
            input(name='imagePath' type='text' placeholder='Picture image' value= picture.imagePath)
            br

            input(type='submit' value='change picture')

        form(action='/addPictureToAuction/' + picture.ID method='GET')
            input(type='submit' value='add Picture to auction')