html
    head
        script(src="/socket.io/socket.io.js")
        script(src="https://code.jquery.com/jquery-1.11.1.js")
        link(rel='stylesheet', href='https://www.w3schools.com/w3css/4/w3.css')
        link(href='/public/stylesProduction/chatStyle.css', rel='stylesheet' )
        script(src='public/clientJS/adminJS.js')
    body
        h1 Admin page
