div#msgApp
    div#currentTime.w3-panel Timer
    div#msgField
    input#sendInput.w3-input(placeholder='input message here')
    button#sendBtn.w3-btn send message
    button#upPriceBtn.w3-btn up price