html
    head
        script(src="/socket.io/socket.io.js")
        script(src="https://code.jquery.com/jquery-1.11.1.js")
        script.
            $(function () {
                var socket = io()
                socket.on('news', function (msg) {
                    console.log('message:', msg)
                });

                $('#send').click(function () {
                    console.log('button clicked')
                    socket.emit('kek', 'kekes egor')
                })
            })
    body
        button#send send
