html
    head
        //script(src="../public/someJSCode.js")
        style.
            .mystyle {
                border-style: double; /* Стиль линии вокруг параграфа */
                padding: 5px; /* Поля вокруг текста */
                width: 300px;
                background-color: RGB(200, 200, 200);
                position: absolute;
                left: 35%;
                top: 15%;
            }

            .LOGWITHPASSPORT {
                position: absolute;
                left: 35%;
                top: 10%;
            }

            body {
                background-color: RGB(200, 200, 100); /* Цвет фона веб-страницы */
            }

    body(onload='myFunction()')
        h2.LOGWITHPASSPORT LOGIN WITH PASSPORT:
        form.mystyle(action='/login' method='post')
            label
                | Login
                input(name='username' type='text' placeholder='Your username' style='margin: 10px 33px;')
            br
            label
                | Password
                input(name='password' type='password' placeholder='Your password' style='margin: 10px')
                br
            input(type='submit' style='margin: 10px' value='Войти')
            input(type='submit' formaction='/' style='margin: 10px' value='Зарегистрироваться')
            br
            input(type='submit' formaction='admin' style='width: 215px; margin: 10px' value='Войти как администратор')


