style.
    form {
        border-style: double; /* Стиль линии вокруг параграфа */
        padding: 5px; /* Поля вокруг текста */
    }

h2 LOGIN WITH PASSPORT:
form(action='/login' method='post')
    label
        | Login
        input#username(name='username' type='text' placeholder='Your username' style='margin: 10px;')
    br
    label
        | Password
        input#password(name='password' type='password' placeholder='Your password' style='margin: 10px')
        br
    input(type='submit' style='margin: 10px' value='Войти')
    input(type='submit' formaction='/' style='margin: 10px' value='Зарегистрироваться')


