@listSize: {
    width: 70%;
    height: 40%;
}
@listTopMargin: 5%;
@textSize: 200%;

#adminPictureList{
  width: @listSize[width];
  overflow: auto;
  height: @listSize[height];
}

.userInAdminList{
}

#adminUserList{
  width: @listSize[width];
  height: @listSize[height];
  overflow: auto;
}

#modalElement{
  position: absolute;
  margin-left: 30%;
  margin-top: 20%;
}