@pictureInfoPosition: {
  top: -20%;
  left: 3%;
}

#userAmountOfMoneyNum{
  font-size: 300%;
  width: 30%;
  background-color: #4CAF50;
  margin-top: -1%;
  margin-left: 3%;
}

#userAmountOfMoneyText{
  font-size: 300%;
  width: 30%;
  margin-left: 3%;
  background-color: #4CAF50;
}

#auctionWelcome{
  margin-left: 30%;
}

#auctionWelcome, #userName{
  font-size: 300%;
}

#accordionPictureInfo{
  width: 30%;
  font-size: 200%;
  margin-left: @pictureInfoPosition[left];
  margin-top: @pictureInfoPosition[top];
}

#purchasedPictureElement{
  position: absolute;
  width: 30%;
  font-size: 200%;
  margin-top: -32%;
  margin-left: 3%;
}

.accordionHeader{
  padding: 0% 10%;
  background-color: #d2be0e;
}

#imagePictureInfo{
  height: 10%;
  width: 20%;
  background-color: #009688;
}