@pictureInfoPosition: {
  top: -20%;
  left: 3%;
}

#userAmountOfMoneyNum{
  margin-top: -1%;
}

#userAmountOfMoneyText,
#userAmountOfMoneyNum {
  font-size: 100%;
  width: 30%;
  margin-left: 3%;
  margin-bottom: 20px;
  background-color: #f2f2f2;
}

#accordionPictureInfo{
  width: 30%;
  font-size: 100%;
  margin-left: 3%;
  margin-top: -10%;
}

#purchasedPictureElement{
  position: absolute;
  width: 30%;
  font-size: 100%;
  margin-left: 3%;
  margin-top: -20%;
}

#imagePictureInfo,
#titlePictureInfo,
#authorPictureInfo,
#startPricePictureInfo,
#descriptionPictureInfo,
#slider,
#pictureName{
  padding: 0px;
  margin-bottom: 5px;
}

.accordionHeader{
  padding: 0% 10%;
  background-color: #f2f2f2;
  border: 0px #4CAF50 solid;
  border-radius: 5px;
}
